 @use '_01variable/_variable' as Var;
 @use '_02mixin/_media' as Media;
 @use '_02mixin/images' as Img;
 @use '_02mixin/jmixin' as JM;
 section {
    width: Var.$W10 * 10%;
    height: Var.$W10 * 10%;
    //background-color: Var.$bg_color;
}
#banner{
    ul{
        width: Var.$W10 * 10%;
        height: Var.$W10 * 10%;
        @include JM.BannerDelay();
    }
    li{
        width: Var.$W10 * 10%;
        height: Var.$W10 * 10%;
        position: absolute;
    }
    .img_1{
        @include Img.image(photo, 'banner_1.jpg', cover);
    }
    .img_2{
        @include Img.image(photo, 'banner_2.jpg', cover);
    }
    .img_3{
        @include Img.image(photo, 'banner_1.jpg', cover);
    }
    .img_4{
        @include Img.image(photo, 'banner_1.jpg', cover);
    }
    .img_5{
        @include Img.image(photo, 'banner_1.jpg', cover);
    }
}
header {
    //height: $H * 3 ; 父元素不給高;
    //background-color: rgb(190, 223, 255, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

    li {
        list-style: none;
    }

    > .logo {
        
        width: Var.$W10 * 9%;
        //background-color: #000;
        > li{
            //list-style: none;
            //background-color: #fff;
            
            font-size: 1rem * 2;
            //margin-top: calc(1rem * 2 / 4);
            border-top: 10px solid rgba(0, 0 ,0 ,0);
            border-bottom: 5px dashed #000;
            border-left: 10px solid transparent;
            border-right: 10px solid rgba(0, 0 ,0 ,1);
        }         
    }
    > .menu-btn {
        
        width: Var.$W10 * 1%;
        height: 50px;
            
        
        @include Img.image(icons, 'list.svg', contain);
        //background-image: url('../../images/icons/list.svg');  
        //background-repeat: no-repeat;
        //background-position: center;
        //background-size: contain;
        //text-indent: -9999px;
            
    }
    > .info {
        width: Var.$W10 * 10%;
        display: flex;
        flex-wrap: wrap;
            
            
        > li {
            width: Var.$W10 * 9%;
            text-align: right;
            font-size: 1rem * 0.8;
        }
    }
    > nav {
        width: Var.$W10 * 10%;
        height: Var.$W10 * 10%;
        z-index: Var.$Z_99;
        position: absolute;
        background-color: #fff;
        text-align: left;

        display: flex;
        display: none;
        justify-content: center;
        $menuheaderH: Var.$W10 * 12px;

        #menu-header {
            width: Var.$W10 * 10%;
            height: $menuheaderH;
            background-color: Var.$bg_color;
            box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
            position: fixed;

            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            font-size: 1.5rem;

            #close {
                height: Var.$W10 * 3%;
                display: inline-block;
                margin-right: 10px;
                font-size: 2rem;
                
            }
        }
        #menu-nav {
            width: Var.$W10 * 8%;
            
            
            margin-top: calc($menuheaderH + 10px);
            h2 {
                margin-top: 20px;
            }
            .NH {
                height: 100px;
            }
            li {
                text-indent: 1rem;
                //margin: 2px 20px;
                padding: 10px;
                
                background-color: #b7d4f1;
            }
        }
        #menu-icon {
            width: Var.$W10 * 10%;
            height: Var.$W10 * 1%;
            position: fixed;
            bottom: 0;
            z-index: Var.$Z_10;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: Var.$bg_color;
            border-top: 2px solid rgba(0, 0, 0, 0.2);
            font-size: 1rem;
        }
    }   
}
   
main {
        //height: 100% - $H * 4;

        //background-color: rgb(195, 255, 255);
        > nav {
            width: Var.$W10 * 10%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            a {
                display: flex;
                width: Var.$W10 * 5%;
                height: calc(Var.$W10 * 10% / 3);
                justify-content:center;
                align-items: center;
                text-decoration: none;
                &:hover{
                    background-color: rgba(255,255,255,0.9);
                }
                > li {
                    border: 2px dashed #000 ;
                    background-color: rgba(255, 255, 255, 0.7);
                    list-style: none;
                    font-size: 1.2rem;
                    font-weight: bolder;
                    box-shadow: 0 0 20px 10px #fff;
                    padding: 2px;
                }
            }
        }
}

footer { 
    //background-color: #bedfff;
    //height: $H ;
    > li {
        color: brown;
        //list-style-type: none;
        text-align: center;
        //文字尺寸預設: 16px = 1em = 1rem
        
        font-size: 1rem * 0.7;   

        &.mt {
            box-sizing: border-box; 
            padding-top: 6px; 
        
        }
    }     
}

nav > .menu{
    display: none;
}

// media判斷 
@include Media.RWD(xs) {
    #banner {
        width: Var.$W10 * 10%;
        height: Var.$W10 * 10%;
        position: absolute;
        z-index: -1;
    }
    $footerH: 40px;
    $headerH: $footerH * 4;
    
    header {
        background-color: Var.$bg_color;
        height: $headerH ;
        > .menu {
            width: Var.$W10 * 1.5%;
            > nav {
                position: absolute;
                left: 0;
            }
        }
    }
    main, #main {
        width: Var.$W10 * 10%;
        height: calc(100% - $headerH - $footerH);
        >nav {
            
            display: flex;
            flex-wrap: wrap;
            a{
                width: Var.$W10 * 5%;
                
            }
        }
    }
    footer {
        background-color: Var.$bg_color;
        width: Var.$W10 * 10%;
        height: $footerH;
        position: fixed;
        bottom: 0;
    }
}
@include Media.RWD(sm) {
    header {
        > h1 {
            width: Var.$W10 * 9.2%;
            //background-color: orange;
        }
        > .menu {
            width: Var.$W10 * 0.8%;
        }

    }
}
@include Media.RWD(md) {
header {
    > h1 {
        width: Var.$W10 * 9.2%;
        //background-color: yellow;
    }
    > .menu {
        width: Var.$W10 * 0.8%;

    }

}
}
/////////////////////////////////////////////////////////////////////////////////////////////////////
@include Media.RWD(lg) {
    * {
        margin: 0;
    }
    section {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        
    }
    header {
        background-color: Var.$bg_color_pc;
        margin: 0;
        width: Var.$W10 * 3.5%;
        height: Var.$W10 * 10%;
        float: left;
        
        > .logo {
            width: Var.$W10 * 10%;
            height: Var.$W10 * 3%;
            margin: Var.$W10 * 1%;  
            background-color: #bedfff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //border: 5px dashed #000;
            border-radius: 0 50px 0 50px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
            li {
              margin: Var.$W10 * 1% ;
            }
        }
        > .menu-btn {
            display: none;
        }
        
        > .info {
            height: Var.$W10 * 2%;
            > li{
               font-size: 0.8rem; 
            }
            
        }
    }
    main, #main{
        margin: 0;
        width: Var.$W10 * 6.5%;
        height: Var.$W10 * 9.4%;
        float: right;
    }

    footer {
        background-color: Var.$bg_color_pc;
        position: absolute;
        bottom: 0;
        right:0;
        width: Var.$W10 * 6.5%;
        height: Var.$W10 * 0.6%;        
    }
}
@include Media.RWD(xl) {

header {

    > h1 {
        width: Var.$W10 * 9.2%;
        //background-color: blue;
    }
    > .menu {
        width: Var.$W10 * 0.8%;

    }

}
}
@include Media.RWD(xxl) {
header {
    > h1 {
        width: Var.$W10 * 9.2%;
        background-color: purple;
    }
    > .menu {
        width: Var.$W10 * 0.8%;
  
    }

}
}

