//設定變數
//寬度的基準
$W10: 10;

// h1 (32px, 2em)
// h2 (24px, 1.5em)
// h2 (16px, 1em)

$xs: 0px;
$sm: 567px;
$md: 768px;
//////////////////變版
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$Z_99: 99; //手機選單
$Z_10: 10; //手機選單 header > nav > #menu-icon

$bg_color: #bedfff;


