 @use '../_01joint/_00variable.scss' as Var;
 @use '../_01joint/02mixin.scss' as Mixin;
 
 section {
    width: Var.$W10 * 10%;
    height: Var.$W10 * 10%;
    background-color: #bedfff;




    //區域變數
    //$H: $W10 * 1%; //高度基準值


    header {
        //height: $H * 3 ;
        @include Mixin.my_HH(0.5%, 5);
        @include Mixin.col_Two(1%);
        background-color: #a8d3ff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        li {
            list-style: none;
        }

        > h1 {
            height: calc(100% / 3);
            
            //background-color: #000;
            > li{
                list-style: none;
                //background-color: #fff;
                font-size: 1rem * 2;
                //margin-top: calc(1rem * 2 / 4);
                border-top: 10px solid rgba(0, 0 ,0 ,0);
                border-bottom: 5px dashed #000;
                border-left: 10px solid transparent;
                border-right: 10px solid rgba(0, 0 ,0 ,1);
            }
            
        }
        > .menu {
            height: calc(100% / 3);
            
            text-indent: -9999px;
            background-image: url('../../images/icons/list.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            
            transition: 0.1s linear;
            //&:active {
                //transform: rotateY(180deg);
                //color: #FFF;
            //}
            //&:hover {
                //color: #FFF;
            //}
        }
        .info {
            width: Var.$W10 * 10%;
            display: flex;
            flex-wrap: wrap;
            
            
            > li {
                width: Var.$W10 * 9%;
                text-align: right;
                font-size: 1rem * 0.8;
            }
        }
        
    }

    main {
        //height: 100% - $H * 4;
        @include Mixin.my_MH(0.5%, 5 , 2%);
        background-color: rgb(195, 255, 255);
        > nav {
            width: Var.$W10 * 10%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            a {
                display: flex;
                width: Var.$W10 * 5%;
                height: calc(Var.$W10 * 10% / 3);
                justify-content:center;
                align-items: center;
                text-decoration: none;
                &:hover{
                    background-color: rgba(255,255,255,0.9);
                }
                > li {
                    list-style: none;
                    font-size: 1.2rem;
                    font-weight: bolder;
                }
            }
        }
    }

    footer { 
        //height: $H ;
        @include Mixin.my_FH(0.5%, 2%);
        

        > li {
            color: brown;
            list-style-type: none;
            text-align: center;
            //文字尺寸預設: 16px = 1em = 1rem
            background-color: #bedfff;
            font-size: 1rem * 0.7;   

            &.mt {
                box-sizing: border-box; 
                padding-top: 6px; 
            
            }
        }     
    }
}
.row {
    //彈性布局
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > .menu{
    display: none;
}
