@mixin BannerRound{
    animation: RoundAN 25s linear infinite;
    -webkit-animation: RoundAN 25s linear infinite;
}
@keyframes RoundAN {
    0%{
        opacity: 1;
        filter: alpha(opacity=100);
    }
    20%{
        opacity: 1;
        filter: alpha(opacity=80);
    }
    40%{
        opacity: 1;
        filter: alpha(opacity=60);
    }
    60%{
        opacity: 1;
        filter: alpha(opacity=40);
    }
    80%{
        opacity: 1;
        filter: alpha(opacity=20);
    }

}
@mixin BannerDelay {
    li:nth-child(5){
        animation-delay: 0;
        display: block;
    }
    li:nth-child(4){
        animation-delay: 10s;
        display: block;
    }
    li:nth-child(3){
        animation-delay: 15s;
        display: block;
    }
    li:nth-child(2){
        animation-delay: 20s;
        display: block;
    }
    li:nth-child(1){
        animation-delay: 25s;
        display: block;
    }
}