section#index {
  font-size: 20rem;
}
@media screen and (max-width: 576px) {
  section#index > div {
    color: red;
    background-color: yellow;
  }
}
@media screen and (min-width: 576px) {
  section#index > div {
    color: yellow;
    background-color: blue;
  }
}
@media screen and (min-width: 768px) {
  section#index > div {
    color: blue;
    background-color: lightgreen;
  }
}