@use '_00variable.scss' as Var;



@mixin my_HH($pre, $multi){

    height: Var.$W10 * $pre * $multi ;
}
@mixin my_FH($pre , $f){

    height: Var.$W10 * $pre + $f;
}
@mixin my_MH($pre, $multi , $f){

    height: 100% - Var.$W10 * $pre * ($multi + 1) -  $f;
}

@mixin col_Two($mult){
    
    $col_W : Var.$W10 * $mult;
    > li {
        width: $col_W;
        list-style: none;        
    }
    > .logo {
        width: Var.$W10 * 10% - $col_W ;
        text-align: center;
    }
}