@import url(Var.css);

:root {
    --bg-color: #123456;
}


* {
    margin: 0 auto;
    padding: 0;
    color: #fff;
}

html,
body {
    height: 100%;
}

#index {
    width: 90%;
    height: 100%;
    font-size: 16px;
    background-color: var(--bg-color);
}

h1 {
    
    font-size: calc(1rem * 2); /* 若同時有兩種單位，以"絕對"單位為主*/
    background-color: cyan;
    color: #222;

}
li {
    list-style: none;
    font-size: var(--font-big);
}